.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: antiquewhite;
  }
    
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #EFC862;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
    
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.div-texto {
    position: relative;
    text-align: center;
    color: antiquewhite;
    text-shadow: 0 0 5px black;
    font-size: 250%;
}

.img {
    width: 100%; 
    height: 384px; 
    object-fit: cover; 
    overflow: hidden;
    filter: brightness(0.4);
}

.img-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titulos {
    text-align: center;
    color: #EFC862;
}

.div-filhas{
    flex: 1;
    padding: 30px;
    border-radius: 8px;
    background-color: #43A7D9;
    color: antiquewhite;
    text-align: justify;
    box-shadow: 2px 2px 2px 2px #797676;
}

.div-filhas:first-child {
    margin-right: 30px;
    margin-left: 20px;
}

.div-filhe {
    flex: 1;
    padding: 30px;
    border-radius: 8px;
    text-align: justify;
}

.div-filhe:first-child {
    margin-right: 30px;
    margin-left: 20px;
}
